<!DOCTYPE html>

{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/blog_main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <title>Blog</title>
  </head>
  <body>
    <header class="main-header">Christine's Django Blog</header>

    {% if request.user.is_authenticated %}
      <a href="{% url 'logout' %}">Log Out</a>
      <p>Logged in as {{ user.username }}</p>
      <a href="{% url 'new_article' %}">Create Post</a>
    {% else %}
      <a href="{% url 'login' %}">Log In</a>
    {% endif %}


    {% block content %}
    {% endblock %}
  </body>
  <footer class="main-footer">&copy Christine L.</footer>

</html>
