<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <title>Blog</title>
  </head>
  <body>
    <h1 class="home-heading"> Articles <h1>
    {% for article in articles %}
    <ul class="home-list">
      <li>
      <a class="home-article" href="{% url 'article_details' id=article.pk %}">
        <h5 class="home-article-date"> {{ article.published_date }} </h5>
        <h3 class="home-article-title"> {{ article }} </h3>
        <!-- <p> {{ article.body }} </p> -->
      </a>
      </li>
    </ul>
    {% endfor %}

  </body>
</html>
{% endblock %}
